<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card m-3">
        <div class="card-body">
          <h1 class="card-title"><%= @restaurant.name %></h1>
          <h6 class="card-subtitle mb-2 text-body-secondary">📍 <%= @restaurant.address %></h6>
          <p class="card-text"><%= '🍽️' * @restaurant.rating %></p>
        </div>
      </div>
    </div>
    <%= link_to "Back", restaurants_path %>
    <%= link_to "Delete", restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  </div>
</div>